.catalog {
  background-color: @white;
  padding-top: 30px;
  padding-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .reset();
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  .reset();
  margin-bottom: 30px;
  padding-bottom: 27px;
  list-style: none;
  border: 1px solid #ececec;
}

.catalog__item:hover {
  box-shadow: 0 5px 15px 0 #ececec;
}

.catalog__item:active {
  box-shadow: 0 2px 5px 0 #ececec;
}

.catalog__item--last {
  margin-bottom: 0;
}

.catalog__item-link {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 4px;

  h4 {
    .reset();
    margin-top: 27px;
    margin-left: 28px;
    font-size: 17px;
    line-height: 24px;
  }

  img {
    display: block;
    width: 260px;
    height: 195px;
    object-fit: cover;
  }
}

.catalog__item-property {
  width: 204px;
  .reset();
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.catalog__item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 204px;
  .reset();

  span {
    font-weight: @font-weight-bold;
    font-size: 15px;
    line-height: 24px;
  }
}

.catalog__item-cart {
  .reset();
  background-color: transparent;
  border: none;

  .catalog__item-cart-icon {
    fill: @catalogue-link-color;
  }
}

.catalog__item-cart:hover {

  .catalog__item-cart-icon {
    fill: @catalogue-link-hover-color;
  }
}

.catalog__item-cart:active {

  .catalog__item-cart-icon {
    fill: @catalogue-link-down-color;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 64px;
  }

  .catalog__item {
    position: relative;
    align-items: flex-start;
    min-height: 334px;
    margin-top: 0px;
    padding-left: 360px;
    padding-right: 34px;
    margin-bottom: 54px;
    overflow: hidden;
  }

  .catalog__item--last {
    margin-bottom: 0;
  }

  .catalog__item-link {

    h4 {
      margin-top: 25px;
      margin-left: 0px;
      font-size: 20px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 333px;
      height: 334px;
    }
  }

  .catalog__item--second {
    .catalog__item-link {
      margin-bottom: 8px;
    }
  }

  .catalog__item-property {
    width: 100%;
    font-size: 15px;
    border-bottom: none;
  }

  .catalog__item-price {
    width: 100%;
    margin-top: auto;
    margin-left: 5px;
    padding-top: 20px;
    padding-right: 3px;
    border-top: 1px solid #ececec;

    span {
      font-size: 17px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-top: 115px;
    padding-bottom: 105px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    position: relative;
    align-items: flex-start;
    margin-top: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 56px;
  }

  .catalog__item--last {
    margin-bottom: 0;
  }

  .catalog__item-link {

    h4 {
      margin-left: 27px;
    }

    img {
      position: static;
      width: 315px;
      height: 462px;
    }
  }

  .catalog__item-property {
    width: 257px;;
    margin-left: 27px;
    margin-bottom: 39px;
    margin-bottom: 15px;
    padding-bottom: 0;
  }

  .catalog__item-price {
    width: 257px;
    margin-top: auto;
    margin-left: 27px;
    padding-top: 22px;
  }

  .catalog__item--second {
    .catalog__item-link {
      margin-bottom: 5px;
    }
  }
}
