.page-footer {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1f1f1;
}

.page-footer__logo-link {
  display: none;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-left: 57px;
  padding-right: 62px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-link {
  svg {
    display: block;
  }
}

.page-footer__social-link:hover {
  svg {
    fill: @footer-link-hover-color;
  }
}

.page-footer__social-link:active {
  svg {
    fill: @footer-link-down-color;
  }
}

.page-footer__developed-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;

  span {
    margin-right: 30px;
    padding-bottom: 5px;
    font-weight: @font-weight-bold;
    font-size: 19px;
    line-height: 19px;
  }
}

.page-footer__logo-academy {
  fill: #63d1bb;
}

.page-footer__developed-link:hover {
  span {
    color: @black;
  }

  .page-footer__logo-academy {
    fill: @footer-link-hover-color;
  }
}

.page-footer__developed-link:active {
  span {
    color: #bfbfbf;
  }

  .page-footer__logo-academy {
    fill: @footer-link-down-color;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 51px;
  }

  .page-footer__logo-link {
    display: block;
    .reset();
    margin-right: 158px;
  }

  .page-footer__logo-link[href]:hover {
    .page-footer__logo {
      fill: @footer-link-hover-color;
    }
  }

  .page-footer__logo-link:active {
    .page-footer__logo {
      fill: @footer-link-down-color;
    }
  }

  .page-footer__social {
    width: 142px;
    margin-right: 84px;
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .page-footer__social-link--instagram {
    margin-right: 40px;
  }

  .page-footer__social-link--facebook {
    margin-right: 38px;
    padding-left: 3px;
  }

  .page-footer__developed-link {
    padding-top: 5px;
    padding-bottom: 0;

    span {
      padding-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    // padding-left: 100px;
    // padding-right: 100px;
  }

  .page-footer__social-link--instagram {
    margin-right: 38px;
    padding-top: 1px;
    padding-left: 2px;
  }
}
