.promo {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  font-family: @font-family-base;
  color: @black;
  background-color: @white;
}

.promo__title {
  .reset();
  margin-bottom: 5px;
  font-weight: @font-weight-bold;
  font-size: 25px;
  line-height: 30px;
}

.promo__tag {
  .reset();
  margin-bottom: 22px;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.promo__main {
  display: flex;
  flex-direction: column;
}

.promo__features {
  .reset();
  margin-bottom: 16px;
  font-weight: @font-weight-base;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promo__properties {
  margin-bottom: 28px;
  font-weight: @font-weight-base;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.promo__properties-cell {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  &--last {
    padding-left: 15px;
  }
}

.promo__img {
  margin-bottom: 19px;
}

.promo__price {
  .reset();
  margin-bottom: 27px;
  text-align: center;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
}

.promo__button-order {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
  color: #444444;
}

.promo__button-order:hover {
  color: @white;
  background-color: #444444;
}

.promo__button-order:active {
  color: #8d8d8d;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;
    padding-top: 33px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 52px;
  }

  .promo__header {
    position: relative;
    z-index: 56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  .promo__title {
    margin-bottom: 5px;
    font-size: 43px;
    line-height: 50px;
  }

  .promo__tag {
    width: 125px;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    line-height: 17px;
  }

  .promo__main {
    width: 290px;
  }

  .promo__features {
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__properties {
    margin-bottom: 54px;
  }

  .promo__properties-cell {

    &--last {
      padding-left: 0;
    }
  }

  .promo__img {
    position: absolute;
    z-index: 55;
    bottom: 52px;
    right: 50px;
    width: 334px;
    height: 403px;
    margin-bottom: 0;
  }

  .promo__price {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .promo__button-order {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding-top: 108px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 73px;
  }

  .promo__header {
    margin-left: 20px;
    margin-bottom: 43px;
  }

  .promo__title {
    order: 2;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__tag {
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .promo__main {
    width: 291px;
    margin-left: 175px;
  }

  .promo__features {
    margin-bottom: 47px;
  }

  .promo__properties {
    margin-bottom: 108px;
  }

  .promo__properties-item {

    .promo__properties-cell {
      padding-top: 7px;
      padding-bottom: 12px;
    }
  }

  .promo__properties-item--first {

    .promo__properties-cell {
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }

  .promo__img {
    right: 100px;
    bottom: 73px;
    width: 525px;
    height: 636px;
  }

  .promo__price {
    margin-bottom: 34px;
  }
}
