.promo {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: @font-family-base;
}

.promo__title {
  .reset();
  margin-bottom: 5px;
  font-weight: @font-weight-bold;
  font-size: 25px;
  line-height: 30px;
}

.promo__tag {
  .reset();
  margin-bottom: 22px;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.promo__main {
  display: flex;
  flex-direction: column;
}

.promo__features {
  .reset();
  margin-bottom: 16px;
  font-weight: @font-weight-base;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promo__properties {
  margin-bottom: 28px;
  font-weight: @font-weight-base;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.promo__properties-cell {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  &--last {
    padding-left: 15px;
  }
}

.promo__img {
  margin-bottom: 19px;
}

.promo__price {
  .reset();
  margin-bottom: 27px;
  text-align: center;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
}

.promo__button-order {
  margin-bottom: 27px;
  padding-top: 15px;
  padding-bottom: 13px;
  font-weight: @font-weight-bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #444444;
  color: #444444;
}

.promo__button-order:hover {
  color: @white;
  background-color: #444444;
}

.promo__button-order:active {
  color: #8d8d8d;
}

@media (min-width: @tablet-width) {
  .promo {
    position: relative;
    // display: flex;
    // flex-direction: column;
    padding-top: 33px;
    padding-left: 50px;
    padding-right: 50px;
    // font-family: @font-family-base;
  }

  .promo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  .promo__title {
    margin-bottom: 5px;
    font-size: 43px;
    line-height: 50px;
  }

  .promo__tag {
    width: 125px;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    line-height: 17px;
  }

  .promo__main {
    width: 290px;
  }

  .promo__img {
    position: absolute;
    top: 140px;
    right: 50px;
    width: 334px;
    height: 403px;
    margin-bottom: 0;
    border: 1px solid red;
    z-index: 55;
  }
}

@media (min-width: @desktop-width) {

}
