// GRID
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;

@tablet-max-width: (@desktop-width - 1); // ???
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
// COLOR
@black: #000000;
@white: #ffffff;
@link-color: @black;
@link-hover-color: #666666;
@link-down-color: #b2b2b2;
@footer-link-color: #231f20;
@footer-link-hover-color: #46c1ae;
@footer-link-down-color: #bde3dd;
@catalogue-link-color: #cccccc;
@catalogue-link-hover-color: #46c1ae;
@catalogue-link-down-color: #bde3dd;
// FONT
@font-family-base: "Open Sans", "Arial", sans-serif;
@font-weight-base: 400;
@font-weight-bold: 700;
@font-size-base: 14px;
@line-height-base: 24px;
